extends layout-signin

block contentSignin
    form(class="login-form")
        div(class="mb-3")
            label(for="inputUsername", class="form-label") Usuario
            input(type="text", class="form-control", aria-label="Username",aria-describedby="basic-addon1", id="inputUsername")
        div(class="mb-3")
            label(for="exampleInputPassword1", class="form-label") Contraseña
            input(type="password", class="form-control", id="exampleInputPassword1")
        div(class="mb-3")
            label(for="token", class="form-label") Token
            input(type="text", class="form-control", id="token", aria-describedby="tokenHelp")
        button(type="submit", class="btn btn-outline-dark") Registrarse
        div(id="emailHelp", class="form-text login-form-text") Si ya tiene una cuenta, 
            a(href="/") ingrese.

        

        